# Unity 자동 생성 폴더
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Unity 빌드 결과
/[Bb]uild/
/[Bb]uilds/

# Visual Studio 자동 생성 파일
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db

# JetBrains Rider 자동 생성 파일
.idea/

# 운영체제 자동 생성 파일
.DS_Store
Thumbs.db

# 임시 디버그 파일
sysinfo.txt